altgraph==0.17.4
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
idna==3.6
packaging==23.2
pefile==2023.2.7
pycryptodome==3.19.0
pycryptodomex==3.19.0
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
pypiwin32==223
python-minifier==2.9.0
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
urllib3==2.1.0
